*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;  
}
ul,
ol {
    list-style-type: none;
}
a{
    text-decoration: none;  
}

$font-primaria: roboto;

  /* --- header --- */

.header{
    background: rgb(151,150,162);
    background: linear-gradient(90deg, rgba(151,150,162,1) 2%, rgba(218,71,122,1) 48%, rgba(196,64,64,1) 97%);

    &__titulo{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: beige;
    }

    &__item{
        padding: 6px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: normal;
    }

}

/* --- galeria index --- */

.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;

    &__item{
        width: 100%;
        object-fit: contain; 
        align-items: center;
    }

    &__item--destacada{
        width: 100%;
        object-fit: contain;
        align-items: center;
    }

    @media (min-width:768px){
        
     .galeria{
        display: grid;
        grid-template-columns: repeat(2,47.5%);
        grid-template-rows: repeat(4, 35vh);
        justify-content: center;
     }

     &__item--destacada{
        grid-column: span 2;
        grid-row: span 2;
     }

     &__item{
        width: 100%;
        height: 100%;
     }
    }

    @media (min-width: 1200px){

        .galeria__item{
            display: grid;
            grid-template-columns: repeat(4, 22.5%);
            grid-template-rows: repeat(2,25vh); 
        }
    }
}

/* --- suscripciones --- */

.formulario{
    width: 400px;
    background-color: rgb(151,150,162);
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;

    &__item{
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      
    }
}

/* --- comienzo footer --- */

.footer{
    background: rgb(151,150,162);
    background: linear-gradient(90deg, rgba(151,150,162,1) 2%, rgba(218,71,122,1) 48%, rgba(196,64,64,1) 97%);

 &__contactos{
        text-align: center;
 }

 &__item{
    padding: 6px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: normal;
 }
}