*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;  
}
ul,
ol {
    list-style-type: none;
}
a{
    text-decoration: none;  
}

$font-primaria: roboto;

  /* --- header --- */

.header{
    background: rgb(151,150,162);
background: linear-gradient(90deg, rgba(151,150,162,1) 2%, rgba(218,71,122,1) 48%, rgba(196,64,64,1) 97%);

    &__titulo{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: beige;
    }

    &__item{
        padding: 6px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: normal;
    }

}

/* --- galeria index --- */

.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;

    &__item{
        width: 100%;
        object-fit: contain; 
        align-items: center;
    }

    &__item--destacada{
        width: 100%;
        object-fit: contain;
        align-items: center;
    }
}