*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }

  .formulario{
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    &__item{
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;

    }
}